.nav-wrapper {
	display: flex;
	margin-left: auto;
	color: var(--text1);
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.6px;
	line-height: 2em;
}

.nav-content {
	display: flex;
	list-style: none;
	color: inherit;
	padding: 0;
	margin: 4px 0;
}

.nav-content a {
	color: inherit;
	text-decoration: none;
	padding: 4px 8px;
	margin-right: 10px;
}

.nav-content li:last-of-type a{
	font-size: 15px;
	font-weight: normal;
	border-left: 1px solid var(--text1);
	padding-left: 18px;
	color: #b6b6ba;
	margin-right: 0;
	margin-left: 10px; /* to make buttonBorder to have same margin as rest of navbar */
}

.nav-app:hover {
	background-color: var(--text1);
	border-color: var(--text1) !important;
	color: var(--gray1) !important;
}

/* mobile nav */
.nav-wrapper-mobile {
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
	height: 32px;
	cursor: pointer;
}


.nav-content-mobile {
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--gray1);
	width: 100%;
	height: 100vh;
	z-index: 100;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.nav-content-mobile li {
	margin: 16px 0;
}

.nav-content-mobile a {
	color: inherit;
	text-decoration: none;
	font-size: 32px;
}

.nav-content-mobile li:last-of-type a{
	font-weight: normal;
	color: #b6b6ba;
	font-size: 24px;
}

.nav-mobile-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 24px;
}


@media (max-width: 960px) {
	.nav-content {
		display: none !important;
	}

	.nav-wrapper-mobile {
		display: flex;
	}
}