.app-wrapper {
	width: 910px;
	min-height: 100vh;
	margin: 0 auto;
	background: radial-gradient(circle at top, rgba(250, 250, 255, 0.1) -10%, transparent 8%);
	font-family: Source Sans Pro, sans-serif;
	color: var(--text1);
}

.hero-wrapper {
	width: 720px;
	margin: 0 auto;
}

.hero-overlay {
	z-index: -1;
	background-color: var(--gray1);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 760px;
}

.hero-img {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 5vw;
}

.hero-img img {
	filter: drop-shadow( 0px 14px 6px rgba(0, 0, 0, 0.16));
}

.intro {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-h {
	margin: 0 auto;
	font-size: 32px;
	text-align: center;
	font-weight: 600;
	line-height: 1.1em;
	letter-spacing: 0.3px;
}

.intro-desc {
	margin: 0 auto;
	margin-top: 6px;
	font-size: 18px;
	text-align: center;
	color: var(--text2);
}

.intro-btn {
	margin-top: 32px;
	text-decoration: none;
	font-weight: 700;
	font-size: 19px;
	width: 160px;
	height: 54px;
}

.intro-btn:hover {
	opacity: 0.95;
}

.preview {
	margin-top: 110px;
	cursor: default;
	position: relative;
	height: 325px;
}

.preview-cards {
	display: grid;
	grid-template-columns: 156px 1fr 156px;
}

.preview-card-left, .preview-card-right {
	text-align: center;
	animation: sizeUp 1.5s;
}

/* animation for preview cards */
@keyframes sizeUp {
    0% {
		transform: scale(1.1);
	}
    100% {
		transform: scale(1.0);
	}
}

.playlist-num {
	font-size: 12px;
	font-weight: 600;
}

.playlist-img {
	height: 156px;
	width: 156px;
	border-radius: 4px;
	margin-top: 8px;
	box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.24);
}

.playlist-name {
	display: block;
	margin: 0 auto;
	margin-top: 6px;
	font-size: 18px;
	width: 80%;
}

.preview-card-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--text2);
}

.text-done, .text-next {
	font-size: 16px;
	opacity: 0.72;
	letter-spacing: 1.1px;
	
}

.text-done {
	animation: 0.5s ease-out 0s 1 doneMove;
}

.text-next {
	animation: 0.5s ease-out 0s 1 nextMove;
}

.text-now {
	font-size: 24px;
	margin: 2px 0;
	color: var(--text1);
	letter-spacing: 1.1px;
	animation: 0.5s ease-out 0s 1 nowMove;
}

/* animations for 'current action' */
@keyframes nextMove {
	0% {
		transform: translateY(-210%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes nowMove {
	0% {
		transform: translateY(120%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes doneMove {
	0% {
		transform: translateY(60%);
	}
	100% {
		transform: translateY(0);
	}
}

.preview-platforms {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.platform-text {
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.15px;
	color: #fafaff;
	text-transform: uppercase;
}

.platform-wrapper {
	display: flex;
	margin-top: 4px;
}

.platform {
	height: 26px;
	width: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

.platform img {
	height: 70%;
}

#p-spotify {
	background-color: #1ed760;
	margin-right: 12px;
}

#p-apple {
	background-color: #fafaff;
}


/* sections part */


.section-svg {
	background-image: url('../assets/circuit-board.svg');
	width: 100%;
	height: 610px;
	position: absolute;
	bottom: -610px;
	z-index: -1;
	opacity: 0.2;
}

.sections-wrapper {
	margin: 0 auto;
	margin-top: 280px;
	color: var(--text3);
	width: 720px;
}

.sections-wrapper h1 {
	color: var(--gray1);
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 21px;
}

#pricing {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pricing ul {
	font-size: 21px;
	list-style: inside;
	width: 92%;
	text-align: center;
}

#pricing li {
	margin-bottom: 12px;
}

#pricing p {
	margin-top: 9px; /* total of 21px margin between list and this paragraph */
	opacity: 0.5;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
}

/* features section */

#features {
	margin: 120px 0 90px 0;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.f-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 142px;
	justify-content: center;
	grid-gap: 32px;
}

.f-card {
	box-shadow: 4px 6px 6px 0 rgba(0, 0, 0, 0.14);
	background-color: #fdfdff;
	border-radius: 8px;
	padding: 18px 21px;
	color: var(--gray1);
	cursor: pointer;
}

.f-card h2 {
	font-size: 21px;
	font-weight: 600; 
	display: flex;
	align-items: center;
	position: relative;
}

.f-card-t {
	font-weight: 700;
	color: var(--brand);
	font-size: 12px;
	display: block;
}

.f-card-i {
	color: var(--brand);
	margin-right: 8px;
}

.f-card p {
	font-size: 17px;
	line-height: 1.2em;
	margin-top: 6px;
	text-align: center;
}

/* faq section */

.faq-overlay {
	position: absolute;
	background-color: var(--gray1);
	height: 790px;
	width: 100%;
	left: 0;
	z-index: -1;
	padding-bottom: 102px;
}

.faq-overlay-img {
	background-image: url('../assets/bubbles.svg');
	opacity: 0.12;
	width: 100%;
	height: 100%;
	background-size: 80%;
}

#faq h1 {
	padding-top: 46px;
	color: var(--text1);
}

@media (max-width: 920px) {
	.app-wrapper {
		width: 100%;
	}
}