.footer-overlay {
	position: absolute;
	background-color: var(--gray2);
	height: 102px;
	width: 100%;
	margin-top: 150px;
	left: 0;
	z-index: -1;
	font-size: 18px;
	font-weight: 600;
	color: var(--text1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-overlay a {
	color: var(--brand);
	text-decoration: none;
}

.footer-overlay a:hover {
	opacity: 0.9;
}