#paredown {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#paredown__left {
	display: grid;
	grid-template-rows: 120px 1fr;
	background-color: #282828;
}

#paredown__details {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #1DB954;
}

#paredown__details h1 {
	margin: 0 auto;
	font-size: 21px;
	color: #1DB954;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px 4px;
	text-align: center;
	max-width: 60%;
}

.paredown__playlist {
	max-height: 510px;
	overflow-y: scroll;
	padding: 12px 12px;
}

.paredown__playlist p {
	margin: 6px 0;
}

#paredown__right {
	display: flex;
	justify-content: center;
	align-items: center;
}

#paredown__right {
	width: 94%;
	margin: 0 auto;
}

.options__header {
	text-align: center;
	font-size: 21px;
	margin: 0 auto 6px auto;
	width: 90%;
}

#new-num {
	padding: 4px 2px;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #959595;
	font-size: 18px;
}

#percent--btn {
	appearance: none;
	padding: 4px 6px;
	font-size: 18px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 0;
	font-weight: bold;
	cursor: pointer;
	background-color: #282828;
	border: 1px solid #959595;
	border-color: #959595;
}

#percent--btn:before {
	content: '%'
}

#percent--btn:checked {
	background-color: #1DB954;
	border-color: #1DB954;
	margin: 0;
}

#new-num__show {
	margin: 0;
	text-align: center;
	font-size: 11px;
	opacity: 0.6;
	font-weight: bold;
	margin-top: 4px;
}

#sort--btn {
	appearance: none;
	margin-left: 8px;
	font-size: 18px;
	font-weight: bold;
	background-color: #1DB954;
	line-height: 18px;
	padding: 4px 6px;
}

#sort--btn:before {
	content: 'date-added \2bc5';
}

#sort--btn:checked:before {
	content: "date-added \2bc6";
}

#sort--btn:hover {
	opacity: 0.8;
}

#create--btn {
	background-color: #1DB954;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	width: 210px;
	border-radius: 12px;
	margin: 0 auto;
	margin-top: 48px;
	cursor: pointer;
	box-shadow: 2px 2px 12px #333333;
	border: 2px solid #181818;
	padding: 6px 0;
}

#create--btn:hover {
	opacity: 0.8;
}