.playlist {
	text-align: center;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	background-color: #282828;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	display: grid;
	grid-template-rows: auto auto 1fr;
	cursor: pointer;
}

.playlist:hover {
	opacity: 0.7;
}


.playlist__song-count {
	font-size: 12px;
	background-color: #1DB954;
	margin: 0;
	font-weight: bold;
	padding: 2px 0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.playlist__cover {
	width: 210px;
	height: 210px;
}

.playlist__cover--img {
	width: 210px;
	height: 210px;
}

.playlist__name {
	margin: 2px 0;
	font-size: 16px;
	padding: 4px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}