:root {
	/* COLORS FOR TEXT */
	--text1: #FAFAFF; /* white */
	--text2: #CDCDD1; /* medium white */
	--text3: #787A84; /* dark white */


	/* COLORS FOR BACKGROUNDS */
	--gray1: #2C2E3E; /* main background */
	--gray2: #37394D; /* toned background */
	--gray3: #252633; /* dark background */

	/* BRANDING COLORS */
	--brand: #4392f1; 
}