/* responsive media queries */
@media (max-width: 760px) {
    .App {
        width: 96vw;
    }
}

@media (max-width: 700px) {
    #preview-box {
        grid-template-columns: 1fr 170px 1fr;
    }

    .preview-selected-img {
        width: 160px;
        height: 160px;
    }

    .preview-btn {
        width: 155px;
    }

    .preview-pared-img--big {
        width: 160px;
        height: 160px;
    }

    .preview-pared-img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 616px) {
    #preview-box {
        grid-template-columns: 1fr 140px 1fr;
    }

    .preview-selected-img {
        width: 100px;
        height: 100px;
    }

    .preview-btn {
        width: 105px;
        font-size: 15px;
    }

    .preview-pared-img--big {
        width: 100px;
        height: 100px;
    }

    .preview-pared-img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 580px) {
    #paredown {
        grid-template-columns: 47% 1fr;
    }

    #paredown__left {
        grid-template-rows: auto 1fr;
    }

    #paredown__details {
        flex-direction: column;
        margin-top: 12px;
    }

    #paredown__details h1 {
        margin: 12px 0;
    }

    #create--btn {
        width: 180px;
        font-size: 15px;
        margin-top: 28px;
    }
}

@media (max-width: 454px) {
    .app-name {
        font-size: 32px;
    }

    .app-name__sub {
        font-size: 14px;
    }

    .step--header {
        font-size: 21px;
    }

    .btn {
        font-size: 14px;
        max-width: 180px;
    }

    .playlist-grid {
        grid-template-columns: repeat(auto-fit, 180px);
    }

    .playlist__cover,
    .playlist__cover--img {
        width: 180px;
        height: 180px;
    }

    #paredown {
        display: flex;
        flex-direction: column;
        width: 88%;
        margin: 0 auto;
    }

    #paredown__left {
        margin-bottom: 48px;
    }

    #creation-error {
        font-size: 22px;
    }

    #preview-box {
        width: 88%;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 160px 1fr;
    }
}

@media (max-width: 390px) {
    .playlist-grid {
        grid-template-columns: 210px;
    }

    .playlist__cover,
    .playlist__cover--img {
        width: 210px;
        height: 210px;
    }
}