@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #181818;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.App {
	width: 760px;
	margin-bottom: 48px;
}

.app-name {
	font-size: 3.3rem;
	margin: 48px 0 0 0;
	text-align: center;
}

.app-name__sub {
	font-size: 1rem;
	margin: 0;
	opacity: 0.7;
	text-transform: lowercase;
	text-align: center;
}

.btn {
	background-color: #1DB954;
	color: #fff;
	padding: 12px 14px;
	border-radius: 4em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	max-width: 220px;
	margin: 0 auto;
	margin-top: 24px;
	text-align: center;
	cursor: pointer;
}

.playlist-grid {
	display: grid;
	grid-template-columns: repeat( auto-fit, 210px);
	grid-column-gap: 16px;
	grid-row-gap: 24px;
	justify-content: center;
}

.playlist {
	text-align: center;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	background-color: #282828;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	display: grid;
	grid-template-rows: auto auto 1fr;
	cursor: pointer;
}

.playlist:hover {
	opacity: 0.7;
}


.playlist__song-count {
	font-size: 12px;
	background-color: #1DB954;
	margin: 0;
	font-weight: bold;
	padding: 2px 0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.playlist__cover {
	width: 210px;
	height: 210px;
}

.playlist__name {
	margin: 2px 0;
	font-size: 16px;
	padding: 4px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.step--header {
	text-align: center;
	margin: 0 auto;
	margin-top: 48px;
	margin-bottom: 18px;
	font-size: 26px;
	letter-spacing: 1px;
	color: #1DB954;
	text-transform: uppercase;
}

#paredown {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#paredown__left {
	display: grid;
	grid-template-rows: 120px 1fr;
	background-color: #282828;
}

#paredown__details {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #1DB954;
}

#paredown__details h1 {
	margin: 0 auto;
	font-size: 21px;
	color: #1DB954;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px 4px;
	text-align: center;
	max-width: 60%;
}

.paredown__playlist {
	max-height: 510px;
	overflow-y: scroll;
	padding: 12px 12px;
}

.paredown__playlist p {
	margin: 6px 0;
}

#paredown__right {
	display: flex;
	justify-content: center;
	align-items: center;
}

#paredown__right {
	width: 94%;
	margin: 0 auto;
}

.options__header {
	text-align: center;
	font-size: 21px;
	margin: 0 auto 6px auto;
	width: 90%;
}

#new-num {
	padding: 4px 2px;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #959595;
	font-size: 18px;
}

#percent--btn {
	appearance: none;
	padding: 4px 6px;
	font-size: 18px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin: 0;
	font-weight: bold;
	cursor: pointer;
	background-color: #282828;
	border: 1px solid #959595;
	border-color: #959595;
}

#percent--btn:before {
	content: '%'
}

#percent--btn:checked {
	background-color: #1DB954;
	border-color: #1DB954;
	margin: 0;
}

#new-num__show {
	margin: 0;
	text-align: center;
	font-size: 11px;
	opacity: 0.6;
	font-weight: bold;
	margin-top: 4px;
}

#sort--btn {
	appearance: none;
	margin-left: 8px;
	font-size: 18px;
	font-weight: bold;
	background-color: #1DB954;
	line-height: 18px;
	padding: 4px 6px;
}

#sort--btn:before {
	content: 'date-added \2bc5';
}

#sort--btn:checked:before {
	content: "date-added \2bc6";
}

#sort--btn:hover {
	opacity: 0.8;
}

#create--btn {
	background-color: #1DB954;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	width: 210px;
	border-radius: 12px;
	margin: 0 auto;
	margin-top: 48px;
	cursor: pointer;
	box-shadow: 2px 2px 12px #333333;
	border: 2px solid #181818;
	padding: 6px 0;
}

#create--btn:hover {
	opacity: 0.8;
}

#creation-error {
	text-align: center;
	font-size: 24px;
	cursor: pointer;
	color: #CD1A2B;
}

#preview-box {
	display: grid;
	grid-template-columns: 1fr 220px 1fr;
	background-color: #282828;
	border-radius: 5px;
	padding: 24px 12px;
}

#preview-selected {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#preview-pared {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#preview-box p {
	text-align: center;
	margin: 0;
}

.preview-selected-img {
	width: 210px;
	height: 210px;
}

.preview-pared-img {
	width: 105px;
	height: 105px;
}

.preview-pared-img--big {
	width: 210px;
	height: 210px;
}

#preview-pared-img-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#preview-btns {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.preview-btn {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	width: 180px;
	border-radius: 12px;
	margin: 8px auto;
	cursor: pointer;
	box-shadow: 2px 2px 8px #333333;
	padding: 6px 0;
	border: 1px solid #282828;
}

.preview-btn:hover {
	opacity: 0.84;
}

#preview-btn--create {
	background-color: #1DB954;
}

#preview-btn--cancel {
	background-color: #CD1A2B;
	
}

.preview-header {
	letter-spacing: 1.2px;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 14px !important;
}

.preview-name {
	margin-top: 14px !important;
	font-weight: bold;
	font-size: 14px;
}

.preview-num {
	margin-top: 2px !important;
	font-weight: bold;
	font-size: 14px;
}