@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.App {
    width: 760px;
}

.btn {
    background-color: #1DB954;
    color: #fff;
    padding: 12px 14px;
    border-radius: 4em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    justify-content: center;
}

